.actionBar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;

  .calling {
    background-color: inherit;
    button {
      background-color: inherit;
      .fa-phone-alt {
        color: #0077c2;
        font-size: 1rem;
      }

      .fa-video {
        color: #0077c2;
        font-size: 1rem;
        margin-left: 10px;
      }
    }
  }
}
