@import '../../../../index.scss';
.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}
.messageTop {
    display: flex;

    .messageImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    .messageText {
        padding: 10px;
        border-radius: 20px;
        background-color: rgb(236, 235, 235);
        max-width: 300px;
    }
}
.messageBottom {
    font-size: 12px;
    margin-top: 10px;
}
.message.own {
    align-items: flex-end;
    .messageText {
        background: $primary-color;
        color: white;
    }
}