@import "../../../../../index.scss";

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dialog-title {
  background-color: $base-color;
  color: $text-color;
}
