@import "../../../index.scss";
.messenger {
  height: calc(100vh - 70px);
  display: flex;
  background: white;
}

// Chat Menu
.chatMenu {
  flex: 3.5;
  .chatMenuWrapper {
    border-right: 1px solid $border-color;
    .chatMenuInput {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 20px;
      border-bottom: 1px solid $border-color;
      margin-bottom: 20px;
      background: $border-color;
    }
  }
}

// Chat Online List
.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}
