.messenger {
  height: calc(100vh - 70px);
  display: flex;
  background: white;
}

// Chat Menu
.chatMenu {
  flex: 3.5;
  .chatMenuWrapper {
    .chatMenuInput {
      width: 90%;
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid gray;
      margin-bottom: 20px;
    }
  }
}

// Chat Online List
.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}
