.chatOnlineFriend {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 0 0 20px;
    .chatOnlineImgContainer {
        position: relative;
        margin-right: 10px;
        .chatOnlineImg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid white;
        }
        .chatOnlineBadge {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: limegreen;
            position: absolute;
            bottom: 5px;
            right: 2px;
            border: 2px solid white;
        }
    }
}
