.errMsg {
    background: rgb(230, 84, 84);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
}

.successMsg {
    background: rgb(6, 173, 20);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
}