@import "../../../index.scss";
.messenger {
  height: calc(100vh - 70px);
  display: flex;
  background: $primary-color;
}

// Chat Menu
.chatMenu {
  flex: 3.5;
  .chatMenuWrapper {
    color: $text-color;
    .chatMenuInput {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 15px;
      margin-right: 10px;
      margin-bottom: 20px;
      color: $text-color;
      background: $press-color;
      &:focus {
        outline: none;
      }
    }

    .newGroupBtn {
      font-size: 15px;
      padding: 8px;
      margin: 8px;
      margin-left: 15px;
      border-radius: 10px;
      background-color: $light-color;
      &:hover {
        color: $text-color;
        background-color: $base-color;
      }
    }
  }
}

// Chat Online List
.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  margin: 0 5px;
  height: 100%;
  background: $base-color;
  border-radius: 25px;
  color: $text-color;
}

// Call Model
.callModelWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.541);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.peerWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.541);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
