@import "../../index.scss";

header {
    width: 100%;
    min-height: 100px;
    // background-color: $base-color;
    // // background: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    a {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
    ul {
        li {
            display: inline-block;
            padding: 10px 20px;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
            i {
                padding: 4px;
            }
            img {
                width: 50px;
                height: 50px;
                transform: translateY(10px);
                border-radius: 50%;
            }
        }
    }
}

// Dropdown
.drop-nav {
    position: relative;
    padding: 10px 0;
    z-index: 99;
    a {
        text-transform: capitalize;
        overflow: hidden;
    }
    .dropdown {
        position: absolute;
        background: $base-color;
        width: 100%;
        width: calc(100% + 30px);
        top: 70px;
        display: none;
        z-index: 10;
    }
    &:hover {
        .dropdown {
            display: block;
        }
    }
}
