@import "../../../../index.scss";
// Chat Box
.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 0;
  }
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    textarea {
      resize: none;
      &:focus {
        outline: none;
      }
    }
    .chatMessageInput {
      width: 90%;
      height: 50px;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 30px;
      background-color: $base-color;
      color: $text-color;
    }
    .chatSubmitButton {
      margin: 0 5px 20px 5px;
      cursor: pointer;
      background-color: inherit;
      i {
        align-items: center;
        font-size: 1.5rem;
        color: $light-color;
      }
    }
  }
}
