@import '../../../index.scss';

.login_page {
    max-width: 500px;
    margin: auto;
    color: rgb(71, 71, 71);
    padding: 0 15px;
    h2 {
        text-decoration: uppercase;
        font-size: 2rem;
        margin: 20px 0;
        letter-spacing: 1.5px;
    }
    input {
        width: 100%;
        height: 35px;
        margin: 10px 0;
        border: 2px solid #777;
        outline: none;
        padding: 0 10px;
    }
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        align-items: flex-start;
        a {
            color: crimson;
        }
        
        button {
            width: 150px;
            padding: 10px 0;
            color: white;
            background: $primary-color;
            text-decoration: uppercase;
            letter-spacing: 1.5px;
            margin-right: 10px;
        }
    }
    p {
        margin: 10px 0;
        padding-bottom: 5px;
    }
    a {
        color: #111;
        font-weight: 600;
    }
    
}

// Forgot Password

.fg_pass {
    h2 {
        color: #555;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        margin: 50px 0;
        letter-spacing: 1.3px;
    }
    .row {
        width: 500px;
        margin: auto;
        padding: 0 10px;
        input {
            width: 100%;
            height: 45px;
            border: 1px solid #ccc;
            outline: none;
            border-radius: 3px;
            margin: 5px 0;
        }
        button {
            background: #333;
            color: white;
            padding: 10px 30px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            border-radius: 3px;
            margin-top: 15px;
        }
    }

}

// Facebook / Google

.login_page {
    .hr {
        margin: 15px 0;
        color: crimson;
    }
    .social {
        button {
            width: 100%;
            margin: 10px 0;
            height: 50px;
            font-size: 14px;
            font-weight: 200;
            text-transform: capitalize;
            letter-spacing: 1.3px;
            box-shadow: 0 2px 4px #777;
        }
    }
}
.login_page {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: -30px 30px 20px rgba($color: #1d1c1c, $alpha: 0.3);
    animation: animate 5s ease-in-out infinite;
    animation-delay: -2.5s;
}
@keyframes animate {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}